
  
  s0pan {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
  }
  

  .btn {
    background-color: #4f5b66;
    color: #f1f1f1;
    background-color: #827ffe;
  }
  
  .space {
    margin-bottom: 60px;
  }
  
  .form-control {
    position: relative;
    display: block;
    width: 100%;
    background: #fff;
    border-radius: 31px;
    color: #8f8fa1;
    line-height: 1.2;
  }
  
  h8 {
      font-size: 0.9rem;
      line-height: 0px;
      margin: 0px;
  }